.mediaViewInfo {
	--web-view-name: ABOUT;
	--web-view-id: ABOUT;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ABOUT;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ABOUT {
	position: absolute;
	width: 1920px;
	height: 1297px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: ABOUT;
	--web-view-id: ABOUT;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_Hover {
	position: absolute;
	width: 65px;
	height: 29px;
	left: 1323px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Header_Works {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover_r {
	position: absolute;
	width: 87px;
	height: 29px;
	left: 1693px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Resume.html;
	cursor: pointer;
}
#Header_Works_s {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri {
	left: 140px;
	top: 1117px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	height: 180px;
	text-align: center;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#n_1 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 727px;
	top: 990px;
	overflow: visible;
}
#n_4 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 1141px;
	top: 990px;
	overflow: visible;
}
#n_3 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 1003px;
	top: 990px;
	overflow: visible;
}
#n_2 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 865px;
	top: 990px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 63px;
	height: 3px;
	left: 1582px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Header_Hover_z {
	position: absolute;
	width: 91px;
	height: 29px;
	left: 1437px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: REFLECTION_MA_PORTFOLIO_.html;
	cursor: pointer;
}
#Header_Works_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#About {
	left: 1582px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 30px;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_MENGYANG_ {
	left: 140px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}