.mediaViewInfo {
	--web-view-name: BE YOUR OWN WILDLIFE PHOTOGRAPHER;
	--web-view-id: BE_YOUR_OWN_WILDLIFE_PHOTOGRAPHER;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: BE_YOUR_OWN_WILDLIFE_PHOTOGRAPHER;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#BE_YOUR_OWN_WILDLIFE_PHOTOGRAPHER {
	position: absolute;
	width: 1920px;
	height: 12720px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: BE YOUR OWN WILDLIFE PHOTOGRAPHER;
	--web-view-id: BE_YOUR_OWN_WILDLIFE_PHOTOGRAPHER;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Quote_KNOWING {
	left: 278px;
	top: 364px;
	position: absolute;
	overflow: visible;
	width: 462px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#Header_Hover {
	position: absolute;
	width: 91px;
	height: 29px;
	left: 1437px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: REFLECTION_MA_PORTFOLIO_.html;
	cursor: pointer;
}
#Header_Works {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover_s {
	position: absolute;
	width: 62px;
	height: 29px;
	left: 1582px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ABOUT.html;
	cursor: pointer;
}
#Header_Works_t {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover_u {
	position: absolute;
	width: 87px;
	height: 29px;
	left: 1693px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Resume.html;
	cursor: pointer;
}
#Header_Works_v {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Quote_KNOWING_w {
	left: 140px;
	top: 2176px;
	position: absolute;
	overflow: visible;
	width: 1168px;
	white-space: nowrap;
	line-height: 100px;
	margin-top: -20px;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#OBJECTIVE__Wildlife_Diversity_ {
	left: 278px;
	top: 2455px;
	position: absolute;
	overflow: visible;
	width: 951px;
	height: 511px;
	line-height: 35px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#An_Online_platform_for_wildlif {
	left: 278px;
	top: 560px;
	position: absolute;
	overflow: visible;
	width: 537px;
	height: 214px;
	line-height: 35px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Pro1_Web_Site_map {
	position: absolute;
	width: 1836px;
	height: 918px;
	left: 42px;
	top: 2966px;
	overflow: visible;
}
#Pro1_Gallery {
	position: absolute;
	width: 1489px;
	height: 1117px;
	left: 215px;
	top: 4041px;
	overflow: visible;
}
#Pro1_App_Site_map {
	position: absolute;
	width: 1836px;
	height: 918px;
	left: 42px;
	top: 7530px;
	overflow: visible;
}
#Pro1_Login {
	position: absolute;
	width: 449px;
	height: 728px;
	left: 278px;
	top: 8731px;
	overflow: visible;
}
#Pro1_Login2 {
	position: absolute;
	width: 449px;
	height: 728px;
	left: 1193px;
	top: 8731px;
	overflow: visible;
}
#Pro1_Colloection2 {
	position: absolute;
	width: 1640px;
	height: 1093px;
	left: 140px;
	top: 10671px;
	overflow: visible;
}
#Pro1_Collection {
	position: absolute;
	width: 1808px;
	height: 1357px;
	left: 64px;
	top: 5979px;
	overflow: visible;
}
#Landing_Photo {
	position: absolute;
	width: 1920px;
	height: 1191px;
	left: 0px;
	top: 773px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(230,230,230,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 791px;
	left: 140px;
	top: 9727px;
}
#Pro1_Frame1 {
	position: absolute;
	width: 298px;
	height: 480px;
	left: 175px;
	top: 9882px;
	overflow: visible;
}
#Pro1_Frame1_ {
	position: absolute;
	width: 297px;
	height: 479px;
	left: 494px;
	top: 9882px;
	overflow: visible;
}
#Pro1_Frame1_ba {
	position: absolute;
	width: 299px;
	height: 482px;
	left: 811px;
	top: 9882px;
	overflow: visible;
}
#Pro1_Frame1_bb {
	position: absolute;
	width: 297px;
	height: 479px;
	left: 1130px;
	top: 9882px;
	overflow: visible;
}
#Pro1_Frame1_bc {
	position: absolute;
	width: 298px;
	height: 480px;
	left: 1448px;
	top: 9882px;
	overflow: visible;
}
#n_2021_by_MengYang_Lee__All_Ri {
	left: 140px;
	top: 12542px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	height: 180px;
	text-align: center;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#n_1 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 727px;
	top: 12415px;
	overflow: visible;
}
#n_4 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 1141px;
	top: 12415px;
	overflow: visible;
}
#n_3 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 1003px;
	top: 12415px;
	overflow: visible;
}
#n_2 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 865px;
	top: 12415px;
	overflow: visible;
}
#Header_Hover_bi {
	position: absolute;
	width: 95px;
	height: 24px;
	left: 1685px;
	top: 12105px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: UNLOCK_THE_FUTURE_WITH_THE_POWER_OF_LIGHT.html;
	cursor: pointer;
}
#Header_Works_bj {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Unlock_the_future_with_the_poe {
	left: 1382px;
	top: 12139px;
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 26px;
	text-align: right;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Pro1_Land3 {
	position: absolute;
	width: 536px;
	height: 406px;
	left: 140px;
	top: 5379px;
	overflow: visible;
}
#Pro1_Land2 {
	position: absolute;
	width: 536px;
	height: 406px;
	left: 692px;
	top: 5379px;
	overflow: visible;
}
#Pro1_Land1 {
	position: absolute;
	width: 536px;
	height: 406px;
	left: 1244px;
	top: 5379px;
	overflow: visible;
}
#BACK_TO_TOP {
	left: 801px;
	top: 12105px;
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 24px;
	text-align: center;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Works {
	left: 1323px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 30px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 67px;
	height: 3px;
	left: 1323px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Quote_KNOWING_br {
	left: 416px;
	top: 447px;
	position: absolute;
	overflow: visible;
	width: 905px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#Header_MENGYANG_ {
	left: 140px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}