.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1920px;
	height: 4262px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Quote_KNOWING {
	left: 140px;
	top: 298px;
	position: absolute;
	overflow: visible;
	width: 599px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Arrow_Hover {
	position: absolute;
	width: 61px;
	height: 63px;
	left: 952px;
	top: 614px;
	overflow: visible;
}
#Text {
	transform: translate(0px, 0px) matrix(1,0,0,1,-1,1) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Portfolio_Hover {
	position: absolute;
	width: 91px;
	height: 29px;
	left: 1437px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Reflection_MA_Portfolio.html;
	cursor: pointer;
}
#Header_Works {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#About_Hover {
	position: absolute;
	width: 62px;
	height: 29px;
	left: 1582px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: MengYangLee_About.html;
	cursor: pointer;
}
#Header_Works_v {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Resume_Hover {
	position: absolute;
	width: 87px;
	height: 29px;
	left: 1693px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Resume.html;
	cursor: pointer;
}
#Header_Works_x {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Works_Hover {
	left: 1323px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 30px;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 67px;
	height: 3px;
	left: 1323px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Header_MENGYANG_ {
	left: 140px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#IndexGallery07 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 140px;
	top: 1461px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Project_See_through_eyes_of_an_animal.html;
	cursor: pointer;
}
#heading03 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IndexGallery06 {
	position: absolute;
	width: 1640px;
	height: 1082px;
	left: 140px;
	top: 2145px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Reflection_MA_Portfolio.html;
	cursor: pointer;
}
#Pro6 {
	position: absolute;
	width: 1640px;
	height: 1082px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IndexGallery05 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 968px;
	top: 3238px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Project_Try_and_error__and_then_try_again.html;
	cursor: pointer;
}
#Pro6_HeadingPhoto {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IndexGallery04 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 968px;
	top: 1461px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Project_Rethink__redo__redesign.html;
	cursor: pointer;
}
#n_2 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IndexGallery03 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 140px;
	top: 3238px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Project_Be_your_own_wildlife_photographer.html;
	cursor: pointer;
}
#Pro3_HeadingPhoto {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IndexGallery02 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 968px;
	top: 777px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Project_Unlock_the_future_with_the_power_of_light.html;
	cursor: pointer;
}
#Pro2_HeadingPhoto {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#IndexGallery01 {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 140px;
	top: 777px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Project_Seeing_is_not_believeing.html;
	cursor: pointer;
}
#Landing_Photo {
	position: absolute;
	width: 812px;
	height: 673px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 1640px;
	height: 244px;
	left: 140px;
	top: 4020px;
	overflow: visible;
}
#n_2021_by_MengYang_Lee__All_Ri {
	left: 0px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	height: 180px;
	text-align: center;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Linkedin {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 671px;
	top: 0px;
	overflow: visible;
}
#Facebook {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 939px;
	top: 0px;
	overflow: visible;
}
#Instagram {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 850px;
	top: 0px;
	overflow: visible;
}
#Pinterest {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 760px;
	top: 0px;
	overflow: visible;
}