.mediaViewInfo {
  --web-view-name: Project_Unlock the future with the power of light;
  --web-view-id: Project_Unlock_the_future_with_the_power_of_light;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Project_Unlock_the_future_with_the_power_of_light;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Project_Unlock_the_future_with_the_power_of_light {
  position: absolute;
  width: 1902px;
  height: 8647px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Project_Unlock the future with the power of light;
  --web-view-id: Project_Unlock_the_future_with_the_power_of_light;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_g {
  left: 137px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 1294px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_ha {
  left: 138px;
  top: 784px;
  position: absolute;
  overflow: visible;
  width: 1096px;
  white-space: nowrap;
  line-height: 100px;
  margin-top: -20px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#OBJECTIVE__There_are_many_poor {
  left: 274px;
  top: 957px;
  position: absolute;
  overflow: visible;
  width: 949px;
  height: 511px;
  line-height: 35px;
  margin-top: -6.5px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#B002 {
  position: absolute;
  width: 1625px;
  height: 1138px;
  left: 140px;
  top: 3014px;
  overflow: visible;
}
#Mengyang-Lee_NikonReport-01_GR {
  position: absolute;
  width: 1625px;
  height: 1069px;
  left: 139px;
  top: 5241px;
  overflow: visible;
}
#B005 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 719px;
  height: 287px;
  left: 173px;
  top: 4848px;
  overflow: visible;
}
#B006 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 719px;
  height: 287px;
  left: 1014px;
  top: 4848px;
  overflow: visible;
}
#B008 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 719px;
  height: 287px;
  left: 173px;
  top: 6628px;
  overflow: visible;
}
#B009 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 719px;
  height: 287px;
  left: 1014px;
  top: 6628px;
  overflow: visible;
}
#Rectangle_17 {
  fill: rgba(222, 222, 222, 1);
}
.Rectangle_17 {
  position: absolute;
  overflow: visible;
  width: 1625px;
  height: 1069px;
  left: 139px;
  top: 7020px;
}
#B010 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 1488px;
  height: 596px;
  left: 206px;
  top: 7257px;
  overflow: visible;
}
#Header_Hover_hb {
  position: absolute;
  width: 152px;
  height: 24px;
  left: 131px;
  top: 8237px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Seeing_is_not_believeing.html;
  cursor: pointer;
}
#Header_Works_hc {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 153px;
  white-space: nowrap;
  text-align: right;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_Hover_hd {
  position: absolute;
  width: 95px;
  height: 24px;
  left: 1661px;
  top: 8238px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_See_through_eyes_of_an_animal.html;
  cursor: pointer;
}
#Header_Works_he {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#B003 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 719px;
  height: 287px;
  left: 170px;
  top: 4455px;
  overflow: visible;
}
#B004 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 719px;
  height: 287px;
  left: 1011px;
  top: 4455px;
  overflow: visible;
}
#Quote_KNOWING_hh {
  left: 548px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 1062px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Seeing_is_not_believeing {
  left: 131px;
  top: 8271px;
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 26px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#See_through_eyes_of_an_animal_hj {
  left: 1358px;
  top: 8271px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: right;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Line_2_hk {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2_hk {
  overflow: visible;
  position: absolute;
  width: 1625px;
  height: 1px;
  left: 131px;
  top: 8207px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_3_hl {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3_hl {
  overflow: visible;
  position: absolute;
  width: 1625.001px;
  height: 2px;
  left: 131px;
  top: 8333px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Quote_KNOWING_hm {
  left: 274px;
  top: 513px;
  position: absolute;
  overflow: visible;
  width: 622px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#B001 {
  position: absolute;
  width: 1905px;
  height: 1179px;
  left: -3px;
  top: 1580px;
  overflow: visible;
}
#Rectangle_22 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_22 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 112px;
  left: 0px;
  top: 0px;
}
#About_Hover_hp {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1586px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_hq {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Resume_Hover_hr {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1707px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Resume.html;
  cursor: pointer;
}
#Header_Works_hs {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Works_Hover_ht {
  left: 1305px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 19px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Line_10 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_10 {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 1px;
  left: 1305px;
  top: 59px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Portfolio_Hover_hv {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 1437px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_hw {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__hx {
  left: 137px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 278px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_hy {
  left: 131px;
  top: 8467px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_hz {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 748px;
  top: 8390px;
  overflow: visible;
}
#Linkedin_h {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_h {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1016px;
  top: 8390px;
  overflow: visible;
}
#Facebook_ia {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_h {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 927px;
  top: 8390px;
  overflow: visible;
}
#Instagram_ia {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_h {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 837px;
  top: 8390px;
  overflow: visible;
}
#Pinterest_ia {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_h {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1106px;
  top: 8390px;
  overflow: visible;
}
#Behance_ia {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_ia {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Behance_ia:hover {
  transform: scale(1.5, 1.5);
}

.navhover:hover {
  color: #999;
	  transition: all 1s ease;
}

#Linkedin_hz {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_hz:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_h {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_h:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_h {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_h:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_h {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_h:hover {
  transform: scale(1.5, 1.5);
}
/* PREVIOUS ICON */
#Header_Works_hc .previous {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_hc:hover .previous {
  transform: translateX(-15%);
  opacity: 0;
}
#Header_Works_hc .previous-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_hc:hover .previous-1 {
  transform: translateX(-20%);
}

/* NEXT ICON */
#Header_Works_he .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_he:hover .next {
  transform: translateX(15%);
  opacity: 0;
}
#Header_Works_he .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_he:hover .next-1 {
  transform: translateX(30%);
}
