.mediaViewInfo {
  --web-view-name: Project_Seeing is not believeing;
  --web-view-id: Project_Seeing_is_not_believeing;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Project_Seeing_is_not_believeing;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Project_Seeing_is_not_believeing {
  position: absolute;
  width: 1902px;
  height: 17941px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Project_Seeing is not believeing;
  --web-view-id: Project_Seeing_is_not_believeing;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_e {
  left: 137px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 567px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_fa {
  left: 137px;
  top: 634px;
  position: absolute;
  overflow: visible;
  width: 955px;
  white-space: nowrap;
  line-height: 100px;
  margin-top: -20px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#OBJECTIVE__How_did_the_rumors_ {
  left: 274px;
  top: 873px;
  position: absolute;
  overflow: visible;
  width: 944px;
  height: 511px;
  line-height: 35px;
  margin-top: -6.5px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#A006 {
  position: absolute;
  width: 1836px;
  height: 918px;
  left: 33px;
  top: 5469px;
  overflow: visible;
}
#A004 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 1151px;
  top: 2842px;
  overflow: visible;
}
#A003 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 599px;
  top: 2842px;
  overflow: visible;
}
#A002 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 44px;
  top: 2842px;
  overflow: visible;
}
#A014 {
  position: absolute;
  width: 1542px;
  height: 1157px;
  left: 180px;
  top: 8546px;
  overflow: visible;
}
#Header_Hover_e {
  position: absolute;
  width: 95px;
  height: 24px;
  left: 1670px;
  top: 17527px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Unlock_the_future_with_the_power_of_light.html;
  cursor: pointer;
}
#Header_Works_e {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#A007 {
  position: absolute;
  width: 449px;
  height: 728px;
  left: 269px;
  top: 6547px;
  overflow: visible;
}
#A008 {
  position: absolute;
  width: 449px;
  height: 728px;
  left: 1184px;
  top: 6547px;
  overflow: visible;
}
#Rectangle_5_fc {
  fill: rgba(230, 230, 230, 1);
}
.Rectangle_5_fc {
  position: absolute;
  overflow: visible;
  width: 1628px;
  height: 791px;
  left: 137px;
  top: 7486px;
}
#A009 {
  position: absolute;
  width: 298px;
  height: 480px;
  left: 166px;
  top: 7641px;
  overflow: visible;
}
#A010 {
  position: absolute;
  width: 297px;
  height: 479px;
  left: 485px;
  top: 7641px;
  overflow: visible;
}
#A011 {
  position: absolute;
  width: 299px;
  height: 482px;
  left: 802px;
  top: 7641px;
  overflow: visible;
}
#A012 {
  position: absolute;
  width: 297px;
  height: 479px;
  left: 1121px;
  top: 7641px;
  overflow: visible;
}
#A013 {
  position: absolute;
  width: 298px;
  height: 480px;
  left: 1439px;
  top: 7641px;
  overflow: visible;
}
#A005 {
  position: absolute;
  width: 1628px;
  height: 1140px;
  left: 137px;
  top: 4114px;
  overflow: visible;
}
#A016 {
  position: absolute;
  width: 536px;
  height: 406px;
  left: 683px;
  top: 10016px;
  overflow: visible;
}
#A017 {
  position: absolute;
  width: 552px;
  height: 418px;
  left: 1219px;
  top: 10016px;
  overflow: visible;
}
#A015 {
  position: absolute;
  width: 536px;
  height: 406px;
  left: 131px;
  top: 10016px;
  overflow: visible;
}
#A019 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 131px;
  top: 11891px;
  overflow: visible;
}
#A020 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 683px;
  top: 11891px;
  overflow: visible;
}
#A021 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 1235px;
  top: 11891px;
  overflow: visible;
}
#A022 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 131px;
  top: 12320px;
  overflow: visible;
}
#A023 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 683px;
  top: 12320px;
  overflow: visible;
}
#A024 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 1235px;
  top: 12320px;
  overflow: visible;
}
#A025 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 131px;
  top: 12749px;
  overflow: visible;
}
#A026 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 683px;
  top: 12749px;
  overflow: visible;
}
#A027 {
  position: absolute;
  width: 536px;
  height: 288px;
  left: 1235px;
  top: 12749px;
  overflow: visible;
}
#A029 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 263px;
  top: 14767px;
  overflow: visible;
}
#A030 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 746px;
  top: 14767px;
  overflow: visible;
}
#A031 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 1229px;
  top: 14767px;
  overflow: visible;
}
#A032 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 263px;
  top: 15150px;
  overflow: visible;
}
#A033 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 746px;
  top: 15150px;
  overflow: visible;
}
#A034 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 1229px;
  top: 15150px;
  overflow: visible;
}
#A035 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 263px;
  top: 15533px;
  overflow: visible;
}
#A036 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 746px;
  top: 15533px;
  overflow: visible;
}
#A037 {
  position: absolute;
  width: 398px;
  height: 297px;
  left: 1229px;
  top: 15533px;
  overflow: visible;
}
#Rectangle_9 {
  fill: rgba(230, 230, 230, 1);
}
.Rectangle_9 {
  position: absolute;
  overflow: visible;
  width: 1628px;
  height: 1242px;
  left: 137px;
  top: 16137px;
}
#A038 {
  position: absolute;
  width: 1364px;
  height: 1015px;
  left: 263px;
  top: 16266px;
  overflow: visible;
}
#A028 {
  position: absolute;
  width: 1628px;
  height: 1222px;
  left: 137px;
  top: 13291px;
  overflow: visible;
}
#A018 {
  position: absolute;
  width: 1545px;
  height: 831px;
  left: 137px;
  top: 10747px;
  overflow: visible;
}
#Quote_KNOWING_f {
  left: 548px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 971px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Unlock_the_future_with_the_poe {
  left: 1367px;
  top: 17561px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: right;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Line_2_ga {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2_ga {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 17494px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_3_gb {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3_gb {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 17620px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#A001 {
  position: absolute;
  width: 1902px;
  height: 1173px;
  left: 0px;
  top: 1583px;
  overflow: visible;
}
#Rectangle_21 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_21 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 112px;
  left: 0px;
  top: 0px;
}
#About_Hover_ge {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1586px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_gf {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Resume_Hover_gg {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1707px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Resume.html;
  cursor: pointer;
}
#Header_Works_gh {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Works_Hover_gi {
  left: 1305px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 19px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Line_9 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_9 {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 1px;
  left: 1305px;
  top: 59px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Portfolio_Hover_gk {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 1437px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_gl {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__gm {
  left: 137px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 278px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_gn {
  left: 131px;
  top: 17761px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_go {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 748px;
  top: 17684px;
  overflow: visible;
}
#Linkedin_gp {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_gq {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1016px;
  top: 17684px;
  overflow: visible;
}
#Facebook_gr {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_gs {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 927px;
  top: 17684px;
  overflow: visible;
}
#Instagram_gt {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_gu {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 837px;
  top: 17684px;
  overflow: visible;
}
#Pinterest_gv {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_gw {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1106px;
  top: 17684px;
  overflow: visible;
}
#Behance_gx {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_gx {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Behance_gx:hover {
  transform: scale(1.5, 1.5);
}

.navhover:hover {
  color: #999;
	transition: all 1s ease;
}

#Linkedin_go {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_go:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_gq {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_gq:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_gs {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_gs:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_gu {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_gu:hover {
  transform: scale(1.5, 1.5);
}

/* NEXT ICON */
#Header_Works_e .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_e:hover .next {
  transform: translateX(30%);
  opacity: 0;
}
#Header_Works_e .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_e:hover .next-1 {
  transform: translateX(30%);
}
