.mediaViewInfo {
  --web-view-name: Project_Rethink, redo, redesign;
  --web-view-id: Project_Rethink_redo_redesign;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Project_Rethink_redo_redesign;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Project_Rethink_redo_redesign {
    position: absolute;
    width: 1902px;
    height: 16042px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;


  --web-view-name: Project_Rethink, redo, redesign;
  --web-view-id: Project_Rethink_redo_redesign;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
    left: 3px;
    top: 1px;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_dc {
  left: 137px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 573px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_dd {
  left: 129px;
  top: 634px;
  position: absolute;
  overflow: visible;
  width: 653px;
  white-space: nowrap;
  line-height: 100px;
  margin-top: -20px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#OBJECTIVE__The_main_objective_ {
  left: 267px;
  top: 912px;
  position: absolute;
  overflow: visible;
  width: 951px;
  height: 511px;
  line-height: 35px;
  margin-top: -6.5px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#C008 {
  position: absolute;
  width: 1836px;
  height: 918px;
  left: 42px;
  top: 6890px;
  overflow: visible;
}
#C002 {
  position: absolute;
  width: 1625px;
  height: 1138px;
  left: 140px;
  top: 3018px;
  overflow: visible;
}
#C005 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 1144px;
  top: 4207px;
  overflow: visible;
}
#C004 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 599px;
  top: 4207px;
  overflow: visible;
}
#C003 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 51px;
  top: 4207px;
  overflow: visible;
}
#C009 {
  position: absolute;
  width: 1542px;
  height: 1157px;
  left: 189px;
  top: 7893px;
  overflow: visible;
}
#C013 {
  position: absolute;
  width: 1836px;
  height: 918px;
  left: 42px;
  top: 9916px;
  overflow: visible;
}
#C014 {
  position: absolute;
  width: 449px;
  height: 728px;
  left: 278px;
  top: 11058px;
  overflow: visible;
}
#C015 {
  position: absolute;
  width: 449px;
  height: 728px;
  left: 1193px;
  top: 11058px;
  overflow: visible;
}
#C021 {
  position: absolute;
  width: 1625px;
  height: 1084px;
  left: 140px;
  top: 13148px;
  overflow: visible;
}
#Rectangle_4 {
  fill: rgba(222, 222, 222, 1);
}
.Rectangle_4 {
  position: absolute;
  overflow: visible;
  width: 1625px;
  height: 1069px;
  left: 140px;
  top: 5521px;
}
#C006 {
  position: absolute;
  width: 1522px;
  height: 297px;
  left: 199px;
  top: 5683px;
  overflow: visible;
}
#C007 {
  position: absolute;
  width: 1522px;
  height: 299px;
  left: 199px;
  top: 6129px;
  overflow: visible;
}
#C022 {
  position: absolute;
  width: 1625px;
  height: 1083px;
  left: 140px;
  top: 14466px;
  overflow: visible;
}
#Rectangle_5_dt {
  fill: rgba(230, 230, 230, 1);
}
.Rectangle_5_dt {
  position: absolute;
  overflow: visible;
  width: 1625px;
  height: 791px;
  left: 140px;
  top: 12010px;
}
#C016 {
  position: absolute;
  width: 298px;
  height: 480px;
  left: 175px;
  top: 12165px;
  overflow: visible;
}
#C017 {
  position: absolute;
  width: 297px;
  height: 479px;
  left: 490px;
  top: 12165px;
  overflow: visible;
}
#C018 {
  position: absolute;
  width: 299px;
  height: 482px;
  left: 803px;
  top: 12165px;
  overflow: visible;
}
#C019 {
  position: absolute;
  width: 297px;
  height: 479px;
  left: 1119px;
  top: 12165px;
  overflow: visible;
}
#C020 {
  position: absolute;
  width: 298px;
  height: 480px;
  left: 1433px;
  top: 12165px;
  overflow: visible;
}
#Header_Hover_dz {
    position: absolute;
    width: 152px;
    height: 24px;
    left: 140px;
    top: 15643px;
    overflow: visible;














  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_See_through_eyes_of_an_animal.html;
    cursor: pointer;
}
#Header_Works_d {
    left: 0px;
    top: 2px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: right;
    font-family: Garamond Premier Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.5px;
}
#Header_Hover_d {
    position: absolute;
    width: 95px;
    height: 24px;
    left: 1670px;
    top: 15649px;
    overflow: visible;




























  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Be_your_own_wildlife_photographer.html;
    cursor: pointer;
}
/* PREVIOUS ICON */
#Header_Works_d .previous {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_d:hover .previous {
  transform: translateX(-20%);
  opacity: 0;
}
#Header_Works_d .previous-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_d:hover .previous-1 {
  transform: translateX(-20%);
}
#Header_Works_ea {
    left: 0px;
    top: 1px;
    position: absolute;
    overflow: visible;
    width: 96px;
    white-space: nowrap;
    text-align: left;
    font-family: Garamond Premier Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.5px;
}
/* NEXT ICON */
#Header_Works_ea .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_ea:hover .next {
  transform: translateX(30%);
  opacity: 0;
}
#Header_Works_ea .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_ea:hover .next-1 {
  transform: translateX(30%);
}
#C010 {
  position: absolute;
  width: 536px;
  height: 406px;
  left: 140px;
  top: 9200px;
  overflow: visible;
}
#C011 {
  position: absolute;
  width: 536px;
  height: 406px;
  left: 685px;
  top: 9200px;
  overflow: visible;
}
#C012 {
  position: absolute;
  width: 536px;
  height: 406px;
  left: 1229px;
  top: 9200px;
  overflow: visible;
}
#Quote_KNOWING_d {
  left: 548px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 1045px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#See_through_eyes_of_an_animal {
  left: 140px;
  top: 15678px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Be_your_own_wildlfe_photograph {
    left: 1460px;
    top: 15683px;
    position: absolute;
    overflow: visible;
    width: 306px;
    height: 26px;
    text-align: right;
    font-family: FranklinGothic URW;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
#Line_2_d {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2_d {
  overflow: visible;
  position: absolute;
  width: 1625px;
  height: 1px;
  left: 140px;
  top: 15604px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_3_ea {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3_ea {
  overflow: visible;
  position: absolute;
  width: 1625px;
  height: 1px;
  left: 140px;
  top: 15730px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_3 {
  fill: rgba(224, 60, 120, 1);
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 1905px;
    height: 1190px;
    left: -3px;
    top: 1573px;
}
#C001 {
  position: absolute;
  width: 1406px;
  height: 1055px;
  left: 248px;
  top: 1657px;
  overflow: visible;
}
#Rectangle_24 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_24 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 112px;
  left: 0px;
  top: 0px;
}
#About_Hover_ee {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1586px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_ef {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Resume_Hover_eg {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1707px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Resume.html;
  cursor: pointer;
}
#Header_Works_eh {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Works_Hover_ei {
  left: 1305px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 19px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Line_12 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_12 {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 1px;
  left: 1305px;
  top: 59px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Portfolio_Hover_ek {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 1437px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_el {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__em {
  left: 137px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 278px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_en {
  left: 131px;
  top: 15862px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_eo {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 748px;
  top: 15785px;
  overflow: visible;
}
#Linkedin_ep {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Linkedin_ep {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_ep:hover {
  transform: scale(1.5, 1.5);
}
#Facebook_eq {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1016px;
  top: 15785px;
  overflow: visible;
}
#Facebook_er {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_er {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_er:hover {
  transform: scale(1.5, 1.5);
}
#Instagram_es {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 927px;
  top: 15785px;
  overflow: visible;
}
#Instagram_et {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_et {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_et:hover {
  transform: scale(1.5, 1.5);
}
#Pinterest_eu {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 837px;
  top: 15785px;
  overflow: visible;
}
#Pinterest_ev {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_ev {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_ev:hover {
  transform: scale(1.5, 1.5);
}
#Behance_ew {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1106px;
  top: 15785px;
  overflow: visible;
}
#Behance_ex {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_ex {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Behance_ex:hover {
  transform: scale(1.5, 1.5);
}
.navhover:hover {
  color: #999;
  transition: all 1s ease;
}

#Linkedin_mv {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_mv:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_mx {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_mx:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_mz {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_mz:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_m {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_m:hover {
  transform: scale(1.5, 1.5);
}

/* PREVIOUS ICON */
#Header_Works_cj .previous {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_cj:hover .previous {
  transform: translateX(-15%);
  opacity: 0;
}
#Header_Works_cj .previous-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_cj:hover .previous-1 {
  transform: translateX(-15%);
}

/* NEXT ICON */
#Header_Works_cc .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_cc:hover .next {
  transform: translateX(15%);
  opacity: 0;
}
#Header_Works_cc .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_cc:hover .next-1 {
  transform: translateX(15%);
}
