.mediaViewInfo {
  --web-view-name: Project_Try and error, and then try again;
  --web-view-id: Project_Try_and_error_and_then_try_again;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Project_Try_and_error_and_then_try_again;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Project_Try_and_error_and_then_try_again {
  position: absolute;
  width: 1902px;
  height: 14327px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Project_Try and error, and then try again;
  --web-view-id: Project_Try_and_error_and_then_try_again;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_js {
  left: 137px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 1063px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_jt {
  left: 137px;
  top: 784px;
  position: absolute;
  overflow: visible;
  width: 1140px;
  white-space: nowrap;
  line-height: 100px;
  margin-top: -20px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#OBJECTIVE__This_project_is_abo {
  left: 276px;
  top: 1058px;
  position: absolute;
  overflow: visible;
  width: 951px;
  height: 511px;
  line-height: 35px;
  margin-top: -6.5px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#E002 {
  position: absolute;
  width: 1625px;
  height: 1138px;
  left: 140px;
  top: 3014px;
  overflow: visible;
}
#E005 {
  position: absolute;
  width: 1625px;
  height: 1069px;
  left: 139px;
  top: 5229px;
  overflow: visible;
}
#E003 {
  position: absolute;
  width: 803px;
  height: 749px;
  left: 140px;
  top: 4464px;
  overflow: visible;
}
#E004 {
  position: absolute;
  width: 806px;
  height: 749px;
  left: 959px;
  top: 4464px;
  overflow: visible;
}
#Header_Hover_jz {
  position: absolute;
  width: 152px;
  height: 24px;
  left: 137px;
  top: 13922px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Be_your_own_wildlife_photographer.html;
  cursor: pointer;
}
#Header_Works_j {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 153px;
  white-space: nowrap;
  text-align: right;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_Hover_j {
  position: absolute;
  width: 95px;
  height: 24px;
  left: 1670px;
  top: 13922px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_ka {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Reflection_MA_portfolio {
  left: 1367px;
  top: 13956px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: right;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#E006 {
  position: absolute;
  width: 409px;
  height: 378px;
  left: 280px;
  top: 6636px;
  overflow: visible;
}
#E007 {
  position: absolute;
  width: 410px;
  height: 378px;
  left: 746px;
  top: 6636px;
  overflow: visible;
}
#E008 {
  position: absolute;
  width: 410px;
  height: 378px;
  left: 1212px;
  top: 6636px;
  overflow: visible;
}
#E009 {
  position: absolute;
  width: 409px;
  height: 377px;
  left: 281px;
  top: 7070px;
  overflow: visible;
}
#E010 {
  position: absolute;
  width: 408px;
  height: 377px;
  left: 747px;
  top: 7070px;
  overflow: visible;
}
#E011 {
  position: absolute;
  width: 410px;
  height: 378px;
  left: 1212px;
  top: 7069px;
  overflow: visible;
}
#E012 {
  position: absolute;
  width: 409px;
  height: 376px;
  left: 281px;
  top: 7504px;
  overflow: visible;
}
#E013 {
  position: absolute;
  width: 410px;
  height: 376px;
  left: 747px;
  top: 7504px;
  overflow: visible;
}
#E014 {
  position: absolute;
  width: 410px;
  height: 378px;
  left: 1212px;
  top: 7504px;
  overflow: visible;
}
#E015 {
  position: absolute;
  width: 1625px;
  height: 1069px;
  left: 140px;
  top: 8182px;
  overflow: visible;
}
#E018 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 1151px;
  top: 9442px;
  overflow: visible;
}
#E017 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 599px;
  top: 9442px;
  overflow: visible;
}
#E016 {
  position: absolute;
  width: 708px;
  height: 1108px;
  left: 44px;
  top: 9442px;
  overflow: visible;
}
#E019 {
  position: absolute;
  width: 1625px;
  height: 1224px;
  left: 140px;
  top: 10747px;
  overflow: visible;
}
#Rectangle_9_ki {
  fill: rgba(230, 230, 230, 1);
}
.Rectangle_9_ki {
  position: absolute;
  overflow: visible;
  width: 1625px;
  height: 1106px;
  left: 140px;
  top: 12256px;
}
#E020 {
  position: absolute;
  width: 1368px;
  height: 886px;
  left: 276px;
  top: 12366px;
  overflow: visible;
}
#E021 {
  position: absolute;
  width: 536px;
  height: 348px;
  left: 131px;
  top: 13490px;
  overflow: visible;
}
#E022 {
  position: absolute;
  width: 536px;
  height: 348px;
  left: 683px;
  top: 13490px;
  overflow: visible;
}
#E023 {
  position: absolute;
  width: 536px;
  height: 348px;
  left: 1235px;
  top: 13490px;
  overflow: visible;
}
#Quote_KNOWING_kn {
  left: 548px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 633px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Be_your_own_wildlfe_photograph_ko {
  left: 137px;
  top: 13956px;
  position: absolute;
  overflow: visible;
  width: 306px;
  height: 26px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Line_2_kp {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2_kp {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 13888px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_3_kq {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3_kq {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 14014px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Quote_KNOWING_kr {
  left: 274px;
  top: 513px;
  position: absolute;
  overflow: visible;
  width: 698px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#E001 {
  position: absolute;
  width: 1920px;
  height: 1187px;
  left: 5px;
  top: 1569px;
  overflow: visible;
}
#Rectangle_26 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_26 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 112px;
  left: 0px;
  top: 0px;
}
#About_Hover_ku {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1586px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_kv {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Resume_Hover_kw {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1707px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Resume.html;
  cursor: pointer;
}
#Header_Works_kx {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Works_Hover_ky {
  left: 1305px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 19px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Line_14 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_14 {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 1px;
  left: 1305px;
  top: 59px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Portfolio_Hover_k {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 1437px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_k {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__k {
  left: 137px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 278px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_k {
  left: 131px;
  top: 14141px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_k {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 748px;
  top: 14064px;
  overflow: visible;
}
#Linkedin_la {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_k {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1016px;
  top: 14064px;
  overflow: visible;
}
#Facebook_la {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_k {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 927px;
  top: 14064px;
  overflow: visible;
}
#Instagram_la {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_la {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 837px;
  top: 14064px;
  overflow: visible;
}
#Pinterest_lb {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_lc {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1106px;
  top: 14064px;
  overflow: visible;
}
#Behance_ld {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_ld {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Behance_ld:hover {
  transform: scale(1.5, 1.5);
}

.navhover:hover {
  color: #999;
	transition: all 1s ease;
}

#Linkedin_k {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_k:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_k {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_k:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_k {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_k:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_la {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_la:hover {
  transform: scale(1.5, 1.5);
}
/* PREVIOUS ICON */
#Header_Works_j .previous {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_j:hover .previous {
  transform: translateX(-15%);
  opacity: 0;
}
#Header_Works_j .previous-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_j:hover .previous-1 {
  transform: translateX(-20%);
}

/* NEXT ICON */
#Header_Works_ka .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_ka:hover .next {
  transform: translateX(15%);
  opacity: 0;
}
#Header_Works_ka .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_ka:hover .next-1 {
  transform: translateX(30%);
}
