.mediaViewInfo {
  --web-view-name: Project_See through eyes of an animal;
  --web-view-id: Project_See_through_eyes_of_an_animal;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Project_See_through_eyes_of_an_animal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Project_See_through_eyes_of_an_animal {
  position: absolute;
  width: 1902px;
  height: 9780px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Project_See through eyes of an animal;
  --web-view-id: Project_See_through_eyes_of_an_animal;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_ib {
  left: 137px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 850px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_ic {
  left: 145px;
  top: 634px;
  position: absolute;
  overflow: visible;
  width: 965px;
  white-space: nowrap;
  line-height: 100px;
  margin-top: -20px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#OBJECTIVE__The_objective_of_th {
  left: 283px;
  top: 908px;
  position: absolute;
  overflow: visible;
  width: 935px;
  height: 511px;
  line-height: 35px;
  margin-top: -6.5px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#I002 {
  position: absolute;
  width: 1625px;
  height: 1138px;
  left: 140px;
  top: 3014px;
  overflow: visible;
}
#Rectangle_10 {
  fill: rgba(222, 222, 222, 1);
}
.Rectangle_10 {
  position: absolute;
  overflow: visible;
  width: 1625px;
  height: 1069px;
  left: 140px;
  top: 5230px;
}
#I005 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 1473px;
  height: 590px;
  left: 215px;
  top: 5470px;
  overflow: visible;
}
#I003 {
  position: absolute;
  width: 803px;
  height: 749px;
  left: 140px;
  top: 4464px;
  overflow: visible;
}
#I004 {
  position: absolute;
  width: 806px;
  height: 749px;
  left: 959px;
  top: 4464px;
  overflow: visible;
}
#I008 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 1488px;
  height: 596px;
  left: 207px;
  top: 7486px;
  overflow: visible;
}
#I007 {
  position: absolute;
  width: 806px;
  height: 749px;
  left: 959px;
  top: 6641px;
  overflow: visible;
}
#I006 {
  position: absolute;
  width: 803px;
  height: 749px;
  left: 140px;
  top: 6641px;
  overflow: visible;
}
#I009 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 139px;
  top: 8501px;
  overflow: visible;
}
#I010 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 684px;
  top: 8501px;
  overflow: visible;
}
#I011 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 1228px;
  top: 8501px;
  overflow: visible;
}
#I012 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 139px;
  top: 8781px;
  overflow: visible;
}
#I013 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 684px;
  top: 8781px;
  overflow: visible;
}
#I014 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 1228px;
  top: 8781px;
  overflow: visible;
}
#I015 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 139px;
  top: 9061px;
  overflow: visible;
}
#I016 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 684px;
  top: 9061px;
  overflow: visible;
}
#I017 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
  position: absolute;
  width: 536px;
  height: 214px;
  left: 1228px;
  top: 9061px;
  overflow: visible;
}
#Header_Hover_iv {
  position: absolute;
  width: 152px;
  height: 24px;
  left: 140px;
  top: 9377px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Unlock_the_future_with_the_power_of_light.html;
  cursor: pointer;
}
#Header_Works_iw {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 153px;
  white-space: nowrap;
  text-align: right;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_Hover_ix {
  position: absolute;
  width: 95px;
  height: 24px;
  left: 1670px;
  top: 9377px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Rethink__redo__redesign.html;
  cursor: pointer;
}
#Header_Works_iy {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_iz {
  left: 548px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 1211px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Unlock_the_future_with_the_poe_i {
  left: 140px;
  top: 9411px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Rethink_redo_redesign {
  left: 1367px;
  top: 9411px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: right;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Line_2_i {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_2_i {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 9341px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_3_i {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_3_i {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 9467px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#I001 {
  position: absolute;
  width: 1920px;
  height: 1175px;
  left: 5px;
  top: 1584px;
  overflow: visible;
}
#Rectangle_23 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_23 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 112px;
  left: 0px;
  top: 0px;
}
#About_Hover_i {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1586px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_i {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Resume_Hover_i {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1707px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Resume.html;
  cursor: pointer;
}
#Header_Works_ja {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Works_Hover_ja {
  left: 1305px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 19px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Line_11 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_11 {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 1px;
  left: 1305px;
  top: 59px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Portfolio_Hover_jc {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 1437px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_jd {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__je {
  left: 137px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 278px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_jf {
  left: 131px;
  top: 9600px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_jg {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 748px;
  top: 9523px;
  overflow: visible;
}
#Linkedin_jh {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_ji {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1016px;
  top: 9523px;
  overflow: visible;
}
#Facebook_jj {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_jk {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 927px;
  top: 9523px;
  overflow: visible;
}
#Instagram_jl {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_jm {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 837px;
  top: 9523px;
  overflow: visible;
}
#Pinterest_jn {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_jo {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1106px;
  top: 9523px;
  overflow: visible;
}
#Behance_jp {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.navhover:hover {
  color: #999;
  transition: all 1s ease;
}
#Behance_jp {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Behance_jp:hover {
  transform: scale(1.5, 1.5);
}
#Linkedin_jg {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_jg:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_ji {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_ji:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_jk {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_jk:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_jm {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_jm:hover {
  transform: scale(1.5, 1.5);
}

/* PREVIOUS ICON */
#Header_Works_iw .previous {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_iw:hover .previous {
  transform: translateX(-15%);
  opacity: 0;
}
#Header_Works_iw .previous-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_iw:hover .previous-1 {
  transform: translateX(-20%);
}

/* NEXT ICON */
#Header_Works_iy .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_iy:hover .next {
  transform: translateX(30%);
  opacity: 0;
}
#Header_Works_iy .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_iy:hover .next-1 {
  transform: translateX(30%);
}
