.mediaViewInfo {
  --web-view-name: Reflection_MA_Portfolio;
  --web-view-id: Reflection_MA_Portfolio;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Reflection_MA_Portfolio;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Reflection_MA_Portfolio {
  position: absolute;
  width: 1902px;
  height: 3952px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Reflection_MA_Portfolio;
  --web-view-id: Reflection_MA_Portfolio;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_lg {
  left: 137px;
  top: 213px;
  position: absolute;
  overflow: visible;
  width: 747px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_lh {
  left: 137px;
  top: 634px;
  position: absolute;
  overflow: visible;
  width: 758px;
  white-space: nowrap;
  line-height: 100px;
  margin-top: -20px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#CONCEPT__Self-reflection_is_on {
  left: 274px;
  top: 908px;
  position: absolute;
  overflow: visible;
  width: 944px;
  height: 205px;
  line-height: 35px;
  margin-top: -6.5px;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_Hover_lj {
  position: absolute;
  width: 152px;
  height: 24px;
  left: 137px;
  top: 3543px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Project_Try_and_error__and_then_try_again.html;
  cursor: pointer;
}
#Header_Works_lk {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 153px;
  white-space: nowrap;
  text-align: right;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Try_and_error_and_then_try_aga_ll {
  left: 137px;
  top: 3577px;
  position: absolute;
  overflow: visible;
  width: 399px;
  height: 26px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Go_to_portfolio {
  left: 871px;
  top: 3359px;
  position: absolute;
  overflow: visible;
  width: 161px;
  height: 29px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_ln {
  left: 548px;
  top: 363px;
  position: absolute;
  overflow: visible;
  width: 955px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Line_4 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_4 {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 3514px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_5 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_5 {
  overflow: visible;
  position: absolute;
  width: 1628px;
  height: 1px;
  left: 137px;
  top: 3640px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#F001 {
  position: absolute;
  width: 1920px;
  height: 1208px;
  left: 0px;
  top: 1226px;
  overflow: visible;
}
#Rectangle_20 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_20 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1919px;
  height: 112px;
  left: 0px;
  top: 0px;
}
#Line_8 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_8 {
  overflow: visible;
  position: absolute;
  width: 61px;
  height: 1px;
  left: 1437px;
  top: 59px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Resume_Hover_lt {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1707px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Resume.html;
  cursor: pointer;
}
#Header_Works_lu {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#About_Hover_lv {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1586px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_lw {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Portfolio_Hover_lx {
  position: absolute;
  width: 43px;
  height: 19px;
  left: 1305px;
  top: 35px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
}
#Header_Works_ly {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 44px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Works_Hover_lz {
  left: 1437px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 64px;
  height: 19px;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__l {
  left: 137px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 278px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_l {
  left: 131px;
  top: 3772px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_l {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 748px;
  top: 3695px;
  overflow: visible;
}
#Linkedin_ma {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_l {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1016px;
  top: 3695px;
  overflow: visible;
}
#Facebook_ma {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_l {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 927px;
  top: 3695px;
  overflow: visible;
}
#Instagram_ma {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_l {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 837px;
  top: 3695px;
  overflow: visible;
}
#Pinterest_ma {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_ma {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1106px;
  top: 3695px;
  overflow: visible;
}
#Behance_mb {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Behance_mb {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Behance_mb:hover {
  transform: scale(1.5, 1.5);
}

#Rectangle_28 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_28 {
  position: absolute;
  overflow: visible;
  width: 1125px;
  height: 786px;
  left: 389px;
  top: 2547px;
}

.navhover:hover {
  color: #999;
  transition: all 1s ease;
}

#Linkedin_l {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_l:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_l {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_l:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_l {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_l:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_l {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_l:hover {
  transform: scale(1.5, 1.5);
}
/* PREVIOUS ICON */
#Header_Works_lk .previous {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_lk:hover .previous {
  transform: translateX(-15%);
  opacity: 0;
}
#Header_Works_lk .previous-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_lk:hover .previous-1 {
  transform: translateX(-20%);
}

/* NEXT ICON */
#Header_Works_he .next {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease;
}

#Header_Works_he:hover .next {
  transform: translateX(15%);
  opacity: 0;
}
#Header_Works_he .next-1 {
  display: inline-block;
  transition: all 0.5s ease;
}

#Header_Works_he:hover .next-1 {
  transform: translateX(15%);
}
