.mediaViewInfo {
	--web-view-name: Resume;
	--web-view-id: Resume;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Resume;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Resume {
	position: absolute;
	width: 1920px;
	height: 2426px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Resume;
	--web-view-id: Resume;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Works_Hover {
	position: absolute;
	width: 65px;
	height: 29px;
	left: 1323px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Header_Works {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#About_Hover {
	position: absolute;
	width: 62px;
	height: 29px;
	left: 1582px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: MengYangLee_About.html;
	cursor: pointer;
}
#Header_Works_s {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Portfolio_Hover {
	position: absolute;
	width: 91px;
	height: 29px;
	left: 1437px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Reflection_MA_Portfolio.html;
	cursor: pointer;
}
#Header_Works_u {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Resume_Hover {
	left: 1693px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 30px;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 87px;
	height: 3px;
	left: 1693px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Header_MENGYANG_ {
	left: 140px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#H001 {
	position: absolute;
	width: 1640px;
	height: 1245px;
	left: 140px;
	top: 719px;
	overflow: visible;
}
#DOWNLOAD_MY_RSUM {
	left: 761px;
	top: 2059px;
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 29px;
	text-align: center;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#Quote_KNOWING {
	left: 278px;
	top: 364px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#Quote_KNOWING_ {
	left: 416px;
	top: 447px;
	position: absolute;
	overflow: visible;
	width: 433px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#Linkedin {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 811px;
	top: 2183px;
	overflow: visible;
}
#Facebook {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 1079px;
	top: 2183px;
	overflow: visible;
}
#Instagram {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 990px;
	top: 2183px;
	overflow: visible;
}
#Pinterest {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 900px;
	top: 2183px;
	overflow: visible;
}
#n_2021_by_MengYang_Lee__All_Ri {
	left: 140px;
	top: 2247px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	height: 180px;
	text-align: center;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}