.mediaViewInfo {
  --web-view-name: Resume;
  --web-view-id: Resume;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Resume;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Resume {
  position: absolute;
  width: 1902px;
  height: 2923px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Resume;
  --web-view-id: Resume;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Quote_KNOWING_mx {
  left: 278px;
  top: 332px;
  position: absolute;
  overflow: visible;
  width: 373px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Quote_KNOWING_my {
  left: 416px;
  top: 433px;
  position: absolute;
  overflow: visible;
  width: 577px;
  white-space: nowrap;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}
#Rectangle_5_mz {
  fill: rgba(230, 230, 230, 1);
}
.Rectangle_5_mz {
  position: absolute;
  overflow: visible;
  width: 1640px;
  height: 1703px;
  left: 140px;
  top: 731px;
}
#resume {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
  position: absolute;
  width: 1088px;
  height: 1409px;
  left: 416px;
  top: 861px;
  overflow: visible;
}
#Rectangle_18_m {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_18_m {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1919px;
  height: 129px;
  left: 0px;
  top: -17px;
}
#Line_6_m {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_6_m {
  overflow: visible;
  position: absolute;
  width: 58px;
  height: 2px;
  left: 1722px;
  top: 64px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Resume_Hover_m {
  position: absolute;
  width: 58px;
  height: 19px;
  left: 1722px;
  top: 40px;
  overflow: visible;
}
#Header_Works_m {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#About_Hover_m {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 1601px;
  top: 40px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: MengYangLee_About.html;
  cursor: pointer;
}
#Header_Works_na {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Portfolio_Hover_m {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 1443px;
  top: 40px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Reflection_MA_Portfolio.html;
  cursor: pointer;
}
#Header_Works_nb {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Portfolio_Hover_na {
  position: absolute;
  width: 43px;
  height: 19px;
  left: 1320px;
  top: 40px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
}
#Header_Works_nc {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 44px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#n_2021_by_MengYang_Lee__All_Ri_nb {
  left: 140px;
  top: 2743px;
  position: absolute;
  overflow: visible;
  width: 1641px;
  height: 180px;
  text-align: center;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
#Linkedin_nc {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 811px;
  top: 2679px;
  overflow: visible;
}
#Linkedin_nd {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Facebook_ne {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1079px;
  top: 2679px;
  overflow: visible;
}
#Facebook_nf {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Instagram_ng {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 990px;
  top: 2679px;
  overflow: visible;
}
#Instagram_nh {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Pinterest_ni {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 900px;
  top: 2679px;
  overflow: visible;
}
#Pinterest_nj {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Header_Hover_nk {
  position: absolute;
  width: 219px;
  height: 24px;
  left: 1561px;
  top: 2496px;
  overflow: visible;
}
#Header_Works_nl {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 220px;
  white-space: nowrap;
  text-align: left;
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}
#Header_MENGYANG__nm {
  left: 137px;
  top: 38px;
  position: absolute;
  overflow: visible;
  width: 208px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: index.html;
  cursor: pointer;
  text-align: left;
  font-family: Garamond Premier Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.5px;
}

.navhover:hover {
  color: #999;
}

#Linkedin_nc {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Linkedin_nc:hover {
  transform: scale(1.5, 1.5);
}

#Facebook_ne {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Facebook_ne:hover {
  transform: scale(1.5, 1.5);
}

#Instagram_ng {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Instagram_ng:hover {
  transform: scale(1.5, 1.5);
}

#Pinterest_ni {
  transform: scale(1, 1);
  transition: all 1s ease;
}

#Pinterest_ni:hover {
  transform: scale(1.5, 1.5);
}
