.mediaViewInfo {
	--web-view-name: RETHINK, REDO, DEDESIGN_;
	--web-view-id: RETHINK_REDO_DEDESIGN_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: RETHINK_REDO_DEDESIGN_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#RETHINK_REDO_DEDESIGN_ {
	position: absolute;
	width: 1920px;
	height: 16512px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: RETHINK, REDO, DEDESIGN_;
	--web-view-id: RETHINK_REDO_DEDESIGN_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Quote_KNOWING {
	left: 278px;
	top: 364px;
	position: absolute;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#Header_MENGYANG_ {
	left: 140px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: MengyangLee.html;
	cursor: pointer;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover {
	position: absolute;
	width: 91px;
	height: 29px;
	left: 1437px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: REFLECTION_MA_PORTFOLIO_.html;
	cursor: pointer;
}
#Header_Works {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover_t {
	position: absolute;
	width: 62px;
	height: 29px;
	left: 1582px;
	top: 71px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ABOUT.html;
	cursor: pointer;
}
#Header_Works_u {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover_v {
	position: absolute;
	width: 87px;
	height: 29px;
	left: 1693px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: R_sum_.html;
	cursor: pointer;
}
#Header_Works_w {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Quote_KNOWING_x {
	left: 140px;
	top: 2174px;
	position: absolute;
	overflow: visible;
	width: 653px;
	white-space: nowrap;
	line-height: 100px;
	margin-top: -20px;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#OBJECTIVE__The_main_objective_ {
	left: 278px;
	top: 2452px;
	position: absolute;
	overflow: visible;
	width: 951px;
	height: 511px;
	line-height: 35px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#In_Visiable_Talk_2021_conferen {
	left: 278px;
	top: 560px;
	position: absolute;
	overflow: visible;
	width: 537px;
	height: 214px;
	line-height: 35px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Rectangle_3 {
	fill: rgba(224,60,120,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1191px;
	left: 0px;
	top: 774px;
}
#Pro4_HeadingPhoto {
	position: absolute;
	width: 1406px;
	height: 1055px;
	left: 257px;
	top: 858px;
	overflow: visible;
}
#n_24 {
	position: absolute;
	width: 1836px;
	height: 918px;
	left: 42px;
	top: 6890px;
	overflow: visible;
}
#Pro4_Poster {
	position: absolute;
	width: 1640px;
	height: 1148px;
	left: 140px;
	top: 3013px;
	overflow: visible;
}
#Pro4_Poster_ {
	position: absolute;
	width: 708px;
	height: 1108px;
	left: 1158px;
	top: 4207px;
	overflow: visible;
}
#Pro4_Poster_ba {
	position: absolute;
	width: 708px;
	height: 1108px;
	left: 606px;
	top: 4207px;
	overflow: visible;
}
#Pro4_Poster_bb {
	position: absolute;
	width: 708px;
	height: 1108px;
	left: 51px;
	top: 4207px;
	overflow: visible;
}
#Pro4_Frame {
	position: absolute;
	width: 1542px;
	height: 1157px;
	left: 189px;
	top: 7893px;
	overflow: visible;
}
#n_23 {
	position: absolute;
	width: 1836px;
	height: 918px;
	left: 42px;
	top: 9916px;
	overflow: visible;
}
#Pro4_Frame_ {
	position: absolute;
	width: 449px;
	height: 728px;
	left: 278px;
	top: 11058px;
	overflow: visible;
}
#Pro4_Frame_ba {
	position: absolute;
	width: 449px;
	height: 728px;
	left: 1193px;
	top: 11058px;
	overflow: visible;
}
#Pro4_Frame_bb {
	position: absolute;
	width: 1640px;
	height: 1094px;
	left: 140px;
	top: 13143px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(222,222,222,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 1069px;
	left: 140px;
	top: 5521px;
}
#n_1 {
	position: absolute;
	width: 1522px;
	height: 297px;
	left: 199px;
	top: 5683px;
	overflow: visible;
}
#n_2 {
	position: absolute;
	width: 1522px;
	height: 299px;
	left: 199px;
	top: 6129px;
	overflow: visible;
}
#smartmockups_kv6d0te5 {
	position: absolute;
	width: 1640px;
	height: 1093px;
	left: 140px;
	top: 14461px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(230,230,230,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 791px;
	left: 140px;
	top: 12010px;
}
#Pro4_Frame_bh {
	position: absolute;
	width: 298px;
	height: 480px;
	left: 175px;
	top: 12165px;
	overflow: visible;
}
#Pro4_Frame_bi {
	position: absolute;
	width: 297px;
	height: 479px;
	left: 494px;
	top: 12165px;
	overflow: visible;
}
#Pro4_Frame_bj {
	position: absolute;
	width: 299px;
	height: 482px;
	left: 811px;
	top: 12165px;
	overflow: visible;
}
#Pro4_Frame_bk {
	position: absolute;
	width: 297px;
	height: 479px;
	left: 1130px;
	top: 12165px;
	overflow: visible;
}
#Pro4_Frame_bl {
	position: absolute;
	width: 298px;
	height: 480px;
	left: 1448px;
	top: 12165px;
	overflow: visible;
}
#n_2021_by_MengYang_Lee__All_Ri {
	left: 140px;
	top: 16332px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	height: 180px;
	text-align: center;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#n_1_bn {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 727px;
	top: 16205px;
	overflow: visible;
}
#n_4 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 1141px;
	top: 16205px;
	overflow: visible;
}
#n_3 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 1003px;
	top: 16205px;
	overflow: visible;
}
#n_2_bq {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 865px;
	top: 16205px;
	overflow: visible;
}
#Header_Hover_br {
	position: absolute;
	width: 152px;
	height: 24px;
	left: 140px;
	top: 15895px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: SEEING_IS_NOT_BELIEVEING.html;
	cursor: pointer;
}
#Header_Works_bs {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: right;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Header_Hover_bt {
	position: absolute;
	width: 95px;
	height: 24px;
	left: 1685px;
	top: 15895px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: SEE_THROUGH_EYES_OF_AN_ANIMAL_.html;
	cursor: pointer;
}
#Header_Works_bu {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Seeing_is_not_believeing {
	left: 140px;
	top: 15929px;
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 26px;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#See_through_eyes_of_an_animal {
	left: 1382px;
	top: 15929px;
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 26px;
	text-align: right;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Pro4_Frame_bx {
	position: absolute;
	width: 536px;
	height: 406px;
	left: 140px;
	top: 9200px;
	overflow: visible;
}
#Pro4_Frame_by {
	position: absolute;
	width: 536px;
	height: 406px;
	left: 692px;
	top: 9200px;
	overflow: visible;
}
#Pro4_Frame_bz {
	position: absolute;
	width: 536px;
	height: 406px;
	left: 1244px;
	top: 9200px;
	overflow: visible;
}
#BACK_TO_TOP {
	left: 801px;
	top: 15895px;
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 24px;
	text-align: center;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Works {
	left: 1323px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 30px;
	text-align: left;
	font-family: FranklinGothic URW;
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.5px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 67px;
	height: 3px;
	left: 1323px;
	top: 102px;
	transform: matrix(1,0,0,1,0,0);
}
#Quote_KNOWING_b {
	left: 416px;
	top: 447px;
	position: absolute;
	overflow: visible;
	width: 579px;
	white-space: nowrap;
	text-align: left;
	font-family: Garamond Premier Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}